html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #249fde;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    /*cursor: none;*/
}

img {
    display: none;
}